// --------- Varies ----------
$font: "Roboto";
// $font: "Roboto";
$gray: #d8d8d8;
$main: #00736C;

// ------- Global-Tags --------
html {
    box-sizing: border-box;
    overflow-x: hidden;
    &.hidden {
        overflow-y: hidden;
    }
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    font-family: $font;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: $gray;
    background-color: #000;
    // background: radial-gradient(23.41% 54.94% at 43% 14.88%, #16141F 0%, #3D3941 0.01%, #12131B 97.85%);
    &.error404-page {
        background-color: #fff;
    }
}
a {
    text-decoration: none;
    display: inline-block;
    color: $gray;
}
button {
    outline: none;
    border: none;
    padding: 0;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}
input {
    outline: none;
    border: none;
    font-family: inherit;
    background-color: transparent;
}
textarea {
    outline: none;
    border: none;
    font-family: inherit;
    background-color: transparent;
    resize: none;
}
section {
    position: relative;
}

// ----------- Global-Class -------------
.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}

.input-block {
    position: relative;
    .input {
        font-family: $font;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        padding: 11px 16px;
        border: 1px solid transparent;
        transition: 0.2s;
        &::placeholder {
            color: #fff;
        }
    }
    .label {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        z-index: 10;
        pointer-events: none;
        transition: 0.2s;
        background-color: #000;
        padding: 0 5px;
    }
    &:hover {
        .input {
            border: 1px solid rgba(#fff, 0.45);
        }
    }
    &.focus {
        .label {
            top: 0px;
            font-size: 10px;
            line-height: 12px;
        }
        .input {
            border-color: rgba(#fff, 0.75);
        }
    }
    &.input-error {
        input {
            border: 1px solid rgb(128, 53, 53) !important;
        }
        label {
            color: rgb(128, 53, 53);
        }
    }
}
.contact__form-textarea {
    .label {
        top: 15px;
    }
}
.error {
    position: absolute;
    bottom: -5px;
    right: 15px;
    z-index: 30;
    background-color: #000;
    color: rgb(128, 53, 53);
    padding: 0px 5px;
    font-size: 10px;
    line-height: 14px;
}

.soclist {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        transition: 400ms ease-in-out;
    }
    &__item:not(:last-child) {
        margin-right: 15px;
    }
    svg {
        fill: #fff;
        width: 20px;
        height: 20px;
        transition: 400ms ease-in-out;
    }
    .soclist__item-facebook:hover {
        svg {
            filter: drop-shadow(0px 0px 5px #2850ad);
            fill: #2850ad;
        }
    }
    .soclist__item-twitter:hover {
        svg {
            filter: drop-shadow(0px 0px 5px #29c5f6);
            fill: #29c5f6;
        }
    }
    .soclist__item-vk:hover {
        svg {
            filter: drop-shadow(0px 0px 5px #0077fe);
            fill: #0077fe;
        }
    }
    .soclist__item-instagram:hover {
        svg {
            filter: drop-shadow(0px 0px 5px #f85993);
            fill: #f85993;
        }
    }
}

.title-border {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #fff;
}

.wrapper {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}

html[lang="ru"] [lang="en"] {
    display: none;
}
html[lang="en"] [lang="ru"] {
    display: none;
}

// --------- ScrollBar ----------
::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
}
::-webkit-scrollbar-track {
    background-color: rgba(#1c1c1c, 0);
}

// --------- Select-Text ----------
::selection {
    background: rgba($main, 0.6) !important;
}

// ---------  ----------
// ---------  ----------
// ---------  ----------

.btn {
    --text: #000;
    --font-size: 14px;
    --duration: 0.44s;
    --move-hover: -4px;
    --font-shadow: var(--font-size);
    padding: 7px 24px;
    font-weight: 700;
    border-radius: 3px;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: 0.5px;
    background: #fff;
    color: #000;
    box-shadow: 0 2px 8px -1px rgba(#fff, 0.32);
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
    div {
        display: flex;
        overflow: hidden;
        text-shadow: 0 var(--font-shadow) 0 var(--text);
        span {
            display: block;
            backface-visibility: hidden;
            font-style: normal;
            transition: transform var(--duration) ease;
            transform: translateY(var(--m)) translateZ(0);
            $i: 1;
            @while $i < 12 {
                &:nth-child(#{$i}) {
                    transition-delay: $i / 20 + s;
                }
                $i: $i + 1;
            }
        }
    }
    &:hover {
        --y: var(--move-hover);
        box-shadow: 0 4px 20px -2px rgba(#fff, 0.5);
        span {
            --m: calc(var(--font-size) * -1);
        }
    }
}

// --------- preloader ----------
.loaded {
    .preloader .preloader__block {
        animation: preloader__block 0.5s both;
        pointer-events: none;
        @keyframes preloader__block {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
    .preloader {
        animation: preloader 1s both;
        animation-delay: 0.5s;
    }
    @keyframes preloader {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(-100%);
        }
    }
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    // z-index: 10000;
    width: 100%;
    height: 100vw;
    pointer-events: none;
}
// #canvas {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vw;
// }

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
}
.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    // z-index: 1000;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
    opacity: 1;
}
.c-scrollbar {
    width: 10px;
    position: absolute;
    right: -2px;
    top: 0;
    height: 100vh;
    transform-origin: center right;
    transform: scaleX(1);
    transition: transform 0.2s linear;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    &:hover {
        transform: none;
        opacity: 1;
    }
}
.c-scrollbar_thumb {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 4px;
    position: absolute;
    top: 0;
    left: 1px;
    right: 0px;
    transition: width 0.3s;
}
.c-scrollbar:hover {
    .c-scrollbar_thumb {
        cursor: grab;
    }
}
.c-scrollbar_thumb:hover {
    width: 7px;
}

.fadeUp {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.7s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    &.is-inview {
        opacity: 1;
        transform: none;
    }
}
.scaleImg {
    overflow: hidden;
    img {
        opacity: 0;
        transform: scale(1.4);
        transition: opacity 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &.is-inview {
        img {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.fadeAfter {
    position: relative;
    display: inline-block;
    overflow: hidden;
    span {
        opacity: 0;
    }
    &::after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 0%;
        height: 110%;
        background-color: rgb(15, 15, 15);
    }
    &.is-inview {
        span {
            animation: appear-text 0.0001s linear forwards;
            animation-delay: 0.4s;
        }
        &::after {
            animation: rev-block 1.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        }
    }
}
@keyframes rev-block {
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        left: 0;
        width: 110%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}
@keyframes appear-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeAfterImg {
    position: relative;
    overflow: hidden;
    img {
        opacity: 0;
    }
    &::after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 0%;
        background-color: rgb(32, 32, 32);
    }
    &.is-inview {
        img {
            animation: appear-text 0.0001s linear forwards;
            animation-delay: 0.7s;
        }
        &::after {
            animation: rev-block2 1.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation-delay: 0.3s;
        }
    }
}
@keyframes rev-block2 {
    0% {
        top: 0;
        height: 0%;
    }
    50% {
        top: 0;
        height: 100%;
    }
    100% {
        top: 100%;
        height: 0%;
    }
}


.cursor-dot-outline {
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s;
    width: 35px;
    height: 35px;
    background-color: rgba(#fff, 1);
    mix-blend-mode: difference;
}