// --------- Varies ----------
$font: "Roboto";
$gray: #d8d8d8;

// ------- Global-Tags --------
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: $font;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    background-color: #000;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}
input {
    background-color: #fff;
    border: none;
    outline: none;
}
textarea {
    resize: none;
}

// ######################################
// ----------- Global-Class -------------
// ######################################

// --------- Container ----------
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    background-color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #1c1c1c;
    padding: 5px 20px;
    border-radius: 20px;
    opacity: 1;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.4;
    }
}
.input {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 11px 16px;
    &::placeholder {
        color: #fff;
    }
}
.soclist {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        opacity: 1;
        transition: opacity 0.3s;
    }
    &__item:not(:last-child) {
        margin-right: 15px;
        
    }
    svg {
        width: 21px;
        height: 21px;
    }
    &__item:hover {
        opacity: 0.4;
    }
}
.title-border {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #fff;
}
.wrapper {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background:rgba(0, 0, 0, 0.4);
    }
}

// --------- ScrollBar ----------
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
}
::-webkit-scrollbar-track {
    background-color: #1c1c1c;
}
