//Max-Width: 1200px ================================
@media (max-width: 1200px) {
    .characteristic__item:nth-child(1) {
        right: 80px;
    }
    .characteristic__item:nth-child(2) {
        left: 425px;
    }
    .characteristic__item:nth-child(3) {
        right: 140px;
    }
    .info__welcome-title {
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
    }
    .info__welcome-text {
        font-size: 20px;
    }
    .info__welcome {
        padding: 90px 0 36px 60px;
    }
    .info__content-text {
        font-size: 24px;
        line-height: 35px;
        margin-left: 15px;
    }
    .info__content-title {
        font-size: 89px;
        line-height: 88px;
        margin-bottom: 70px;
    }
    .info__inner::before {
        width: 60%;
        height: 80%;
    }
}

//Max-Width: 1100px ================================
@media (max-width: 1100px) {
    .top-leaves {
        display: none;
    }
    .top-mavic {
        left: 0;
        top: 20%;
        height: 60%;
        z-index: 10;
    }
    .top__title {
        width: 65%;
        font-size: 170px;
        line-height: 170px;
        letter-spacing: -15px;
    }
    .characteristic {
        .characteristic__img {
            width: 85%;
        }
        .characteristic__item-title {
            font-size: 16px;
            line-height: 18px;
        }
        .characteristic__item-text {
            font-size: 12px;
            line-height: 18px;
        }
        .characteristic__item:nth-child(1) {
            right: 85px;
            top: 13%;
        }
        .characteristic__item:nth-child(2) {
            top: 16%;
            left: 275px;
        }
        .characteristic__item:nth-child(3) {
            right: 70px;
            bottom: 2%;
        }
    }
}

//Max-Width: 1000px ================================
@media (max-width: 1000px) {
    .faq__inner {
        width: 100%;
    }
    .characteristic {
        &__img {
            width: 930px;
            height: 400px;
            margin: 0 auto;
            pointer-events: none;
            img {
                width: 110%;
                height: 100%;
                object-fit: cover;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .characteristic__item:nth-child(1) {
            right: 30px;
        }
        .characteristic__item:nth-child(3) {
            right: 30px;
        }
    }
    .about {
        .about__content {
            width: 35%;
        }
        &__img {
            margin-right: -70px;
            width: 540px;
            height: 350px;
        }
    }
    .top .top__inner {
        width: 100%;
    }
    .top .top__img-item:nth-child(1) {
        top: 70px;
        right: 75px;
    }
    .header .menu__list-item:not(:last-child) {
        margin-right: 30px;
    }
    .info__content-img {
        width: 320px;
        height: 320px;
    }
    .overview {
        .overview__img {
            width: 405px;
            height: 405px;
        }
        .overview__content {
            padding: 66px 36px;
            width: 405px;
            height: 405px;
        }
        .overview__content-pattern {
            width: 520px;
            height: 520px;
        }
        .overview::before {
            height: 200px;
        }
    }
    .footer .contact__info {
        margin-right: 30px;
    }
}

//Max-Width: 900px ================================
@media (max-width: 900px) {
    .characteristic {
        .characteristic__img {
            width: 700px;
        }
        .characteristic__item:nth-child(1) {
            right: 0px;
            .characteristic__item-content {
                right: -10px;
            }
        }
        .characteristic__item:nth-child(2) {
            left: 250px;
        }
        .characteristic__item:nth-child(3) {
            right: -15px;
        }
    }
    .top .top__img-item:nth-child(1) {
        top: 70px;
        right: 35px;
    }
    .characteristic__item:nth-child(1) {
        right: -48px;
        top: 28%;
    }
    .characteristic__item:nth-child(2) {
        left: 48%;
    }
    .characteristic__item:nth-child(3) {
        right: -6px;
        bottom: 32%;
    }
    .info__content-pattern {
        width: 600px;
        height: auto;
        top: 55%;
    }
    .info__welcome {
        padding: 64px 0 23px 31px;
    }
    .info__welcome-text {
        font-size: 16px;
        line-height: 24px;
    }
    .info__welcome-title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    .info__content-text {
        font-size: 20px;
        line-height: 33px;
        width: 50%;
    }
    .benefits__inner {
        flex-wrap: wrap;
        margin-bottom: -40px;
    }
    .benefits__item:not(:last-child) {
        margin-right: 0px;
    }
    .benefits__item {
        margin: 0 20px 40px;
    }
    .footer .contact__form-textarea {
        width: 100%;
        height: 100px;
    }
    .footer .contact__form-content {
        display: block;
        height: auto;
    }
    .footer .contact__form-input:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 5px;
    }
    .footer .contact__form-inputs {
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
    }
}

//Max-Width: 800px ================================
@media (max-width: 800px) {
    .about {
        padding-bottom: 150px;
        .about__content {
            width: 40%;
        }
        .about__content-title {
            font-weight: 700;
            font-size: 50px;
            line-height: 55px;
        }
        .about__content-pattern {
            width: 350px;
            height: 350px;
            left: 45%;
            top: 40%;
            transform: translate(-50%, -50%);
        }
        .about__img {
            margin-right: -50px;
            width: 470px;
            height: 300px;
        }
    }
    .top .top__img-item:nth-child(2) {
        bottom: 75px;
        left: 55px;
    }
    .top .top__img {
        img {
            width: 120%;
        }
    }
    .top .top__benefits-item {
        position: relative;
        width: 235px;
        padding: 30px 40px;
        z-index: 10;
    }
    .header .languages__icon {
        width: 20px;
        height: 20px;
    }
    .header .languages__list-item {
        font-size: 14px;
        line-height: 16px;
    }
    .languages {
        position: absolute;
        right: 70px;
        z-index: 100;
    }
    .logo {
        position: relative;
        z-index: 120;
    }
    .header {
        padding-top: 12px;
    }
    .header__dots {
        display: none;
    }
    .characteristic {
        .characteristic__img {
            width: 90%;
            height: auto;
        }
        .characteristic__item-arrow img {
            width: 70%;
            height: 70%;
        }
        .characteristic__item:nth-child(1) {
            right: -20px;
            .characteristic__item-btn {
                bottom: 7%;
                left: -32%;
            }
            .characteristic__item-content {
                right: 5px;
            }
        }
        .characteristic__item:nth-child(2) {
            left: 170px;
            .characteristic__item-btn {
                bottom: 7%;
                left: -27%;
            }
            .characteristic__item-content {
                right: 5px;
            }
        }
        .characteristic__item:nth-child(3) {
            right: -50px;
            bottom: -7%;
            .characteristic__item-btn {
                bottom: 44%;
            }
            .characteristic__item-content {
                right: 60px;
            }
            &.active .characteristic__item-content {
                bottom: -50px;
            }
        }
    }
    .faq {
        padding-bottom: 0;
        .accordion {
            padding: 0;
        }
        .faq__title {
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 40px;
        }
        .accordion__item-title {
            font-size: 15px;
            line-height: 20px;
        }
        .accordion__item-answer {
            font-size: 12px;
            line-height: 22px;
            padding: 12px 20px 5px;
            font-weight: 400;
            color: rgba(#fff, 0.8);
        }
        .accordion__item-header {
            padding: 15px 20px;
            padding-right: 50px;
        }
        .accordion__item {
            padding-bottom: 15px;
        }
    }
    .overview {
        margin-bottom: 100px;
        .overview__img {
            width: 305px;
            height: 305px;
            margin-top: 44px;
        }
        .overview__content {
            padding: 39px 24px;
            width: 305px;
            height: 305px;
        }
        .overview__content-title {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 15px;
            width: 80%;
        }
        .overview__content-text {
            font-size: 14px;
            line-height: 26px;
        }
        .overview__content-pattern {
            width: 400px;
            height: 400px;
        }
        .overview__wrapper::before {
            height: 150px;
        }
    }
}

//Max-Width: 750px ================================
@media (max-width: 750px) {
    .container {
        padding: 0 10px;
    }
    .footer .contact {
        display: block;
    }
    .footer .contact__info {
        width: 100%;
        margin: 0 auto;
    }
    .footer .contact__form {
        width: 100%;
    }
    .footer .contact__form-title {
        margin-bottom: 29px;
        display: none;
    }
    .footer .contact__info-logo {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        width: 172px;
        height: 94px;
    }
    .footer {
        padding-top: 85px;
    }
    .footer .contact__info-text {
        text-align: center;
        width: 65%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .contact__info-connection {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }
    .footer .contact__info-item:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 15px;
    }
}

//Max-Width: 700px ================================
@media (max-width: 700px) {
    .benefits {
        padding-top: 0px;
        padding-bottom: 110px;
        .benefits__item {
            width: 215px;
        }
        .benefits__item-icon {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            margin-bottom: 10px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .benefits__item-title {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 5px;
        }
        .benefits__item-text {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .top .top__content-leaves {
        width: 220px;
        height: 300px;
    }
    .top__soclist {
        display: none;
    }
    .top .top__btn {
        margin-top: 130px;
        padding: 12px 55px;
        font-size: 11px;
        line-height: 12px;
    }
    .top .top__text {
        width: 90%;
        font-size: 11px;
        line-height: 14px;
        padding-left: 20px;
    }
    .top .top__subtitle {
        font-size: 20px;
        line-height: 25px;
    }
    .top .top__title {
        font-size: 70px;
        line-height: 70px;
    }
    .characteristic {
        .characteristic__img {
            margin-bottom: 60px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            img {
                width: 100%;
            }
        }
        .characteristic__item {
            position: relative;
            right: auto !important;
            left: auto !important;
            top: auto !important;
            bottom: auto !important;
            margin: 0 10px;
            width: 180px;
            margin-bottom: 50px;
            text-align: center;
            pointer-events: auto;
            opacity: 1;
        }
        .characteristic__item-content {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            pointer-events: auto;
            opacity: 1;
        }
        .characteristic__items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 -10px;
        }
        .characteristic__item:nth-child(2) {
            .characteristic__item-content {
                bottom: 0;
            }
        }
        .characteristic__item-text {
            color: rgba(#fff, 0.55);
        }
        .characteristic__item-arrow,
        .characteristic__item-btn {
            display: none;
        }
    }
    .info {
        .info__content-img {
            width: 270px;
            height: 270px;
        }
        .info__content-pattern {
            width: 500px;
            top: 60%;
            left: 45%;
            transform: translate(-50%, -50%) scale(-1, 1);
        }
        .info__welcome {
            margin-left: 34px;
        }
        .info__welcome-title {
            font-size: 24px;
            line-height: 30px;
        }
        .info__welcome-text {
            font-size: 14px;
            line-height: 22px;
        }
        .info__content-flex {
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
        .info__content-img {
            width: 250px;
            height: 250px;
        }
        .info__content-img1 {
            margin-left: auto;
            order: 2;
            margin-bottom: 0;
        }
        .info__content-img2 {
            position: relative;
            left: 8%;
            margin: 0;
            margin-top: -130px;
        }
        .info__content-title {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 10px;
            width: 65%;
        }
        .info__content-text {
            font-size: 16px;
            line-height: 28px;
            width: 80%;
            margin-bottom: 60px;
            margin-left: 0;
        }
    }
    .about__content-title {
        width: 100%;
    }
    .footer .footer__list {
        flex-wrap: wrap;
        margin-bottom: -15px;
        margin-right: -15px;
    }
    .footer .footer__list .menu__list-item {
        margin: 0 13px 15px !important;
    }
}

//Max-Width: 600px ================================
@media (max-width: 600px) {
    .about {
        padding-top: 130px;
        .about__inner {
            flex-direction: column;
        }
        .about__content {
            order: 2;
            width: 80%;
            margin: 0 auto;
        }
        .about__img {
            margin-right: 0px;
            margin-bottom: 70px;
            width: 100%;
            height: auto;
            img {
                width: 115%;
                height: 100%;
                object-fit: cover;
                position: relative;
                left: 53%;
                transform: translateX(-50%);
            }
        }
        .about__content-title {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 25px;
            span {
                display: inline-block;
            }
        }
        .about__content-line.is-inview {
            width: 80%;
        }
        .about__content-text {
            width: 75%;
            line-height: 24px;
        }
        .about__content-pattern {
            width: 350px;
            height: 350px;
            left: 25%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .top {
        height: 800px;
        max-height: auto;
        .top__inner {
            height: 800px;
        }
        .top__content-leaves {
            width: 200px;
            height: 280px;
        }
        .top__benefits {
            display: none;
        }
        .top__btn {
            margin-top: 20px;
            background-color: transparent;
        }
        .top__inner {
            // display: block
            flex-direction: column;
            justify-content: center;
        }
        .top__content {
            order: 2;
            width: 90%;
            margin: 0 auto;
        }
        .top__img {
            order: 1;
            width: 100%;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
    }
    .header .languages {
        right: 55px;
    }
    .header .menu__list-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .characteristic__img {
        width: 100%;
    }
    .info {
        .info__content-pattern {
            width: 400px;
            left: 50%;
        }
        .info__inner::before {
            top: 90px;
            height: 90%;
            left: 60px;
        }
        .info__welcome {
            width: 70%;
            padding: 10px 15px 10px 0px;
            margin-left: auto;
            margin-bottom: 80px;
        }
        .info__welcome-line {
            left: auto;
            right: 0;
        }
        .info .info__welcome-line {
            left: auto;
            right: 0;
        }
        .info__welcome-title {
            margin-bottom: 0;
            text-align: right;
        }
        .info__welcome-text {
            display: none;
        }
        .info__content-title {
            width: 90%;
        }
        .info__content-text {
            width: 100%;
        }
        .info__content-img {
            width: 220px;
            height: 220px;
        }
        .info__content-img2 {
            position: relative;
            left: 0%;
            margin: 0;
            margin-top: -160px;
        }
    }
    .overview {
        .overview__img {
            display: none;
        }
        .overview__content {
            margin-right: 0;
            width: 80%;
            height: auto;
            padding: 60px 40px;
        }
        .overview__content-title {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 15px;
        }
        .overview__content-text {
            font-size: 18px;
            line-height: 30px;
        }
        .overview__content-pattern {
            width: 450px;
            height: 450px;
            left: 35%;
        }
        .overview__wrapper::before {
            height: 60%;
        }
    }
    .footer .footer__copy {
        text-align: center;
        line-height: 16px;
        font-size: 10px;
    }
}

//Max-Width: 550px ================================
@media (max-width: 550px) {
    .footer {
        .footer__list {
            padding: 10px 0;
        }
        .contact {
            margin-bottom: 100px;
        }
        .contact__info-item .contact__item-text {
            font-size: 14px;
            overflow: hidden;
        }
        .contact__info-logo {
            width: 140px;
            height: auto;
        }
        .contact__info-text {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 15px;
        }
        .footer__copy {
            line-height: 11px;
            font-size: 9px;
        }
        .footer__list .menu__list-item {
            font-size: 12px;
            line-height: 14px;
            margin: 0 6px 9px !important;
        }
        .contact__info-text {
            width: 100%;
        }
    }
    .faq {
        margin-bottom: 80px;
        .faq__title {
            margin-bottom: 20px;
        }
        .accordion__item-title {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
        }
        .accordion__item-header {
            padding: 12px 17px;
            padding-right: 40px;
        }
        .accordion__item-answer {
            padding: 16px 17px 0px;
        }
        .accordion__item-btn {
            right: 10px;
        }
        .accordion__item-btn:after,
        .accordion__item-btn:before {
            width: 10px;
            height: 1.5px;
        }
        .accordion__item-btn:before {
            margin-right: 6px;
        }
    }
    .info__welcome-title {
        font-size: 22px;
        line-height: 26px;
    }
    .info__welcome {
        padding: 5px 10px 0 5px;
        margin-bottom: 90px;
    }
    .info__content-title {
        font-size: 53px;
        line-height: 58px;
        width: 80%;
        margin-bottom: 20px;
    }
    .info__content-text {
        font-size: 16px;
        line-height: 27px;
    }
    .info__content-img {
        width: 270px;
        height: 270px;
    }
}

//Max-Width: 500px ================================
@media (max-width: 500px) {
    .info {
        padding-bottom: 100px;
    }
    .benefits {
        padding-top: 20px;
        padding-bottom: 150px;
        .benefits__item {
            width: 42%;
            margin: 0 12px 20px;
        }
        .benefits__item-icon {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: 5px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .benefits__item-title {
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
            margin-bottom: 5px;
        }
        .benefits__item-text {
            font-size: 10px;
            line-height: 16px;
        }
    }
    .about {
        padding-top: 100px;
        .about__content {
            order: 2;
            width: 85%;
            margin: 0 auto;
        }
        .about__content-text {
            width: 100%;
            line-height: 24px;
        }
    }
    .top .top__img img {
        width: 110%;
        position: relative;
        left: -5%;
    }
    .characteristic__item {
        width: 100%;
    }
    .info {
        .info__inner::before {
            width: 75%;
        }
        .info__content-pattern {
            width: 350px;
            left: 40%;
            top: 50%;
        }
        .info__welcome {
            width: 90%;
        }
        .info__welcome-title {
            font-size: 22px;
        }
        .info__content-title {
            font-size: 42px;
            line-height: 42px;
            margin-bottom: 0;
        }
        .info__content-text {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 30px;
        }
        .info__content-img {
            width: 200px;
            height: 200px;
        }
        .info__content-img2 {
            margin-top: -160px;
        }
    }
    .overview {
        .overview__content {
            width: 85%;
            padding: 50px 30px;
        }
        .overview__content-title {
            font-size: 26px;
            line-height: 36px;
            margin-bottom: 15px;
        }
        .overview__content-text {
            font-size: 16px;
            line-height: 28px;
        }
        .overview__content-pattern {
            width: 400px;
            height: 400px;
            left: 40%;
        }
    }
    .about__content {
        width: 100%;
    }
    .about__img {
        width: 90%;
        height: 350px;
    }
    .footer .contact__form-inputs {
        display: block;
    }
    .footer .contact__form-input:not(:last-child) {
        margin-bottom: 5px;
        margin-right: 0px;
    }
}

//Max-Width: 450px ================================
@media (max-width: 450px) {
    .characteristic {
        .characteristic__img {
            margin-bottom: 40px;
        }
        .characteristic__item {
            text-align: center;
            right: auto !important;
            left: auto !important;
            top: auto !important;
            bottom: auto !important;
            position: relative;
            margin: 0 10px;
            width: 45%;
            margin-bottom: 50px;
            pointer-events: auto;
            opacity: 1;
        }
        .characteristic__item-title {
            font-size: 14px;
            line-height: 16px;
        }
        .characteristic__item-text {
            font-size: 10px;
            line-height: 18px;
        }
    }
    .about {
        .about__content {
            width: 95%;
        }
        .about__content-title {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 20px;
        }
        .about__content-line {
            height: 1.5px;
        }
        .about__content-text {
            padding-top: 15px;
            width: 100%;
            font-size: 12px;
            line-height: 20px;
        }
        .about__content-pattern {
            width: 260px;
            height: 260px;
            left: 30%;
        }
    }
    .header {
        .header .languages__icon {
            width: 18px;
            height: 18px;
        }
        .languages__list-item {
            font-size: 12px;
            line-height: 15px;
        }
        .logo {
            padding-top: 5px;
            width: 40px;
        }
        .hamburger {
            width: 20px;
            height: 15px;
        }
        .hamburger__line {
            height: 1px;
        }
    }
    .top {
        .top__img {
            margin-bottom: 60px;
        }
        .top__img-item:nth-child(2) {
            bottom: 40px;
            left: 10px;
        }
        .top__img-item:nth-child(1) {
            top: 20px;
            right: 11px;
        }
    }
    .menu__list .menu__list-item {
        font-size: 28px;
        line-height: 45px;
    }
    .faq {
        .accordion__item-title {
            font-size: 12px;
            line-height: 16px;
        }
        .accordion__item-answer {
            padding: 16px 17px 0px;
        }
        .accordion__item-btn:after,
        .accordion__item-btn:before {
            width: 7px;
        }
        .accordion__item-btn:before {
            margin-right: 4px;
        }
    }
    .info__welcome {
        width: 100%;
    }
    .info__content-flex {
        margin-bottom: 50px;
    }
    .info__content-img2 {
        margin: 0;
    }
    .footer .contact__info-logo {
        width: 122px;
        height: 71px;
    }
}

//Max-Width: 400px ================================
@media (max-width: 400px) {
    .faq {
        .accordion__item-title {
            font-size: 11px;
            line-height: 15px;
        }
        .accordion__item-answer {
            font-size: 10px;
            padding: 10px 17px 0px;
        }
    }
    .characteristic {
        margin-bottom: 130px;
        padding: 80px 0 50px;
        .characteristic__item {
            text-align: left;
            margin: 0px;
            width: 80%;
            margin-bottom: 20px;
        }
    }
    .footer {
        .contact__info-item .contact__item-text {
            font-size: 12px;
        }
        .contact__info-logo {
            width: 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .contact__info-text {
            font-size: 13px;
            line-height: 18px;
            margin-bottom: 15px;
        }
        .contact__info-connection {
            margin-bottom: 50px;
        }
    }
    .overview {
        .overview__content {
            width: 95%;
        }
        .overview__content-title {
            font-size: 22px;
        }
        .overview__content-text {
            font-size: 14px;
        }
        .overview__content-pattern {
            width: 350px;
            height: 350px;
            left: 50%;
        }
    }
    .info {
        .info__content-img {
            width: 180px;
            height: 180px;
        }
        .info__content-img2 {
            margin-top: -20px;
        }
    }
    .about .about__img {
        margin-bottom: 40px;
        img {
            width: 130%;
        }
    }
    .top {
        height: 670px;
        .top__img-item:nth-child(2) {
            bottom: 25px;
        }
        .top__img-item:nth-child(2)::before {
            width: 40px;
            right: -43px;
            top: -1px;
        }
        .top__img-item:nth-child(1) {
            top: 15px;
        }
        .top__img-item:nth-child(1)::before {
            width: 35px;
            left: -32px;
            bottom: -12px;
        }
        .top__text::before {
            width: 2px;
        }
        .top__img-title {
            font-size: 8px;
            line-height: 10px;
            margin-bottom: 3px;
        }
        .top__inner {
            height: 670px;
            padding-top: 40px;
        }
        .top__content-leaves {
            width: 170px;
            height: 250px;
        }
        .top__btn {
            padding: 9px 40px;
            font-size: 10px;
            line-height: 12px;
        }
        .top__content-title {
            margin-bottom: 15px;
        }
        .top__subtitle {
            font-size: 16px;
            line-height: 20px;
        }
        .top__title {
            font-size: 55px;
            line-height: 56px;
        }
    }
    .info__inner::before {
        width: 100%;
    }
    .info__content-title {
        font-size: 43px;
        line-height: 48px;
    }
    .overview__content-title {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    .overview__content-text {
        font-size: 18px;
        line-height: 26px;
    }
    .about__img {
        width: 90%;
        height: 280px;
    }
    .about__content-title {
        font-size: 47px;
        line-height: 53px;
    }
    .about__content-text {
        font-size: 16px;
    }
}

//Max-Width: 350px ================================
@media (max-width: 360px) {
}
