// --------- Fonts ----------
@import "./_fonts.scss";


// --------- Main ----------
@import "./_reset.scss";
@import "./_global.scss";
@import "./main.scss";


// ---- Plugins ----
@import "../../node_modules/locomotive-scroll/dist/locomotive-scroll.min.css";


// ---- Media-Mobile ----
@import "./media.scss";